*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-modal{
    background-color: #5f615f; 
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}

.fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir{
    display: flex;
}

.container-1{
    margin-left: 1%;
}

.label-1{
    margin-top: 1%;
}
.label-2{
    margin-top: 1%;
}

.label-3{
    margin-top: 1%;
}

.label-4{
    margin-top: 1%;
    margin-bottom: 2%;
}

label{
    font-size: 20px;
}

input{
    width: 400px;
    height: 30px;
    display: flex;
    border: solid 0.1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #8a8a00;
    font-size: 18px;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.card{
    border: solid 1.5px rgb(83, 83, 83);
    height: 150px;
    width: 150px;
}

.card-1{
    margin-left: 5%;
    border: solid 1.5px black;
    height: 150px;
    width: 150px;
}

.card-2{
    margin-left: 5%;
    border: solid 1.5px black;
    height: 150px;
    width: 150px;
}

.card-3{
    margin-left: 5%;
    border: solid 1.5px black;
    height: 150px;
    width: 150px;
}

.card-4{
    margin-left: 5%;
    border: solid 1.5px black;
    height: 150px;
    width: 150px;
}

.card-5{
    margin-left: 5%;
    border: solid 1.5px black;
    height: 150px;
    width: 150px;
}


.btn-1{
    width: 150px;
    height: 50px;
    text-align: center;
    margin-left: 3%;
    margin-right: 1%;
}

.btn-2{
    width: 150px;
    height: 50px;
    text-align: center;
}

h4{
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

p{
    text-align: center;
}

