*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f7f7;
}

.btn-modal{
    background-color: #068b06; 
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 1%;
}

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c7c7c780;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    text-align: center;
}

.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}

.fechar{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir{
    display: flex;
}

.container-1{
    margin-left: 1%;
}

.label-1{
    margin-top: 1%;
}
.label-2{
    margin-top: 1%;
}

.label-3{
    margin-top: 1%;
}

.label-4{
    margin-top: 1%;
    margin-bottom: 2%;
}

label{
    font-size: 20px;
    margin-left: 35%;
}

input{
    width: 400px;
    height: 30px;
    display: flex;
    border: solid 0.1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #068b06;
    font-size: 18px;
    margin-left: 35%;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.card{
    border: solid 1.5px #535353;
    height: 150px;
    width: 150px;
}

.card-1{
    margin-left: 1px;
    border: solid 1.5px #535353;
    height: 150px;
    width: 150px;
}

.card-2{
    margin-left: 1px;
    border: solid 1.5px #535353;
    height: 150px;
    width: 150px;
}

.card-3{
    margin-left: 1px;
    border: solid 1.5px #535353;
    height: 150px;
    width: 150px;
}

.card-4{
    margin-left: 1px;
    border: solid 1.5px #535353;
    height: 150px;
    width: 150px;
}

.card-5{
    margin-left: 1px;
    border: solid 1.5px #535353;
    height: 150px;
    width: 150px;
}

button{
    background-color: #068b06; 
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.btn-1{
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 45%;
}

.btn-2{
    width: 150px;
    height: 40px;
    text-align: center;
}

h4{
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

p{
    text-align: center;
}

@keyframes transitionModal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .modal{
    animation: transitionModal 0.5s;
}